/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* utility */

.txt-small{
    font-size: 12px;
}

.txt-grey{
    color:gray;
}

.txt-right{
    text-align: right;
}

.icon-big{
    font-size: 35px;
}

.mr-10{
    margin-right: 10px;
}

.mr-35{
    margin-right: 35px;
}

.inline-block{
    display: inline-block;
}

.y-align{
    vertical-align: middle;
}

.clr-white{
    color: white;
}

.clr-grey{
    color:grey
}

.mb-10{
    margin-bottom: 10px;
}

/* generals */

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    height: calc(100vh - 100px);
    width: 100vw;
    background-color: #141922;
}

.row{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.container .row > .col{
    height: 100%;
}


#sidebar > * {
    margin-bottom: 20px;
}

#main{
    width: 8%;
}

#header{
    width: calc(100vw - 250px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    line-height: 100px;
    text-align: right;
}
/* bottone UPGRADE */
.btn-upgrade{
    color: white;
    padding: 10px 50px;
    border: 1px solid white;
    border-radius: 20px;
    font-weight: 700;
    margin-right: 10px;

}

.btn-upgrade:active{
    color: grey;
    border: 1px solid grey;
}

.tools{
    height: 100px;
    background-color: #282828;
}


/* sidebar */

#sidebar{
    position: relative;
    padding: 10px;
    padding-left: 20px;
    font-size: 15px;
    width: 250px;
    background-color: black;
    font-weight: 600;
}

.new:hover .hover-white{
    color: white;
}

.nav-tool:hover .hover-white{
    color: white;
}


.logo{
    height: 10%;
}

.logo img{
    max-width: 60%;
    padding-top: 10px;
}

.logo-sx{
    display: none;
}

.sidebar-nav{
    color: grey;
    height: 15%;
}

#sidebar a{
    color: grey;
}

#sidebar .sidebar-nav .fas{
    font-size: 25px;
    margin-right: 10px;
}

@media screen and (max-width: 500px) {
    #sidebar{
        width: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .sx-none{
        display: none;
    }

    #sidebar .sidebar-nav .fas{
        font-size: 30px;
    }

    .sidebar-footer .download{
        font-size: 30px;
        border-bottom: none;
    }

    .logo-sx{
        display: block;
    }

    /* SPOSTARE IN SEZIONE HEADER/RESPONSIVE QUANDO LA FARO' */
    #header{
        width: calc(100vw - 50px);
    }

    .tools #col-sx{
        padding-top: 30px;
        padding-left: 10px;
    }

    .tools #col-sx img{
        width: 35px;
    }
}

.nav-tool{
    margin-bottom: 20px;
}

.playlists{
    height: 50%;
}

.playlists .new{
    height: 25%;
    color: grey;
    padding-top: 10px;
}

.playlists .new .fas{
    font-size: 45px;
    margin-right: 10px;
}

.playlists{
    position: relative;
}

.playlists .list{
    height: 55%;
    overflow: auto;
}

.playlists .list .fade{
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 35%; 
    margin: 0;
    background-image: linear-gradient(to bottom, transparent, black);
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent;
}

.playlist-item{
    width: 100%;
    height: 30px;
    margin: 5px 0;
    color: grey;
}

.sidebar-footer{
    position: absolute;
    bottom: 0;
    color: honeydew;
    width: 100%;
}

.download{
    width: 70%;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.user .fas{
    font-size: 30px;
    color: lightgray;
}

.user-name{
    font-weight: 700;
}

/* Tools */

.col-small{
    height: 100%;
    width: 250px;
}

.col-big{
    position: relative;
    height: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
    flex-grow: 6;
}

.col-big .buttons{
    padding-top: 20px;
}

.col-big .fas,
.col-big .far{
    margin: 0 20px;
    cursor: pointer;
}

#col-sx{
    padding-top: 20px;
    padding-left: 20px;
}

#col-sx img{
    width: 25%;
    margin-right: 10px;
    cursor: pointer;
}

#col-dx{
    color: white; 
    line-height: 100px;   
}

#col-dx .volume-bar{
    height: 5px;
    width: 40%;
    background-color: gray;
    border-radius: 30px;
    margin-left: 10px;
}

#col-dx .fas{
    margin-left: 10px;
}

.track-info{
    color: white;
    display: inline-block;
    cursor: pointer;
}

.track-info .far:hover{
    color: white;
}

#progress-bar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    width: 60%;
    height: 5px;
    border-radius: 50px;
    background-color: grey;
}
